{% load i18n %}{% autoescape off %}
Hello {{ user.get_full_name|default:user.username }},

You're receiving this email because you requested a password reset for your GreenLink account at Green University.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

If you didn't request this password reset, please ignore this email. Your password won't be changed until you access the link above and create a new one.

For security reasons, this link will expire in 24 hours.

If you're having trouble clicking the link above, copy and paste the following URL into your web browser:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Best regards,
The GreenLink Team
Green University of Bangladesh

---
This is an automated email. Please do not reply to this message.
If you need assistance, contact us at: support@green.edu.bd
{% endautoescape %}
